Repository typelevel/kittens, pull requests merged in 2022-09, with the labels that each got.

#513 Upgrade to Scala 3.2
  .github/workflows/ci.yml
  build.sbt
  core/src/test/scala-3/cats/derived/KittensSuite.scala
  project/build.properties
  project/plugins.sbt
Labels: core

#523 Remove deprecated code from Scala 2
  core/src/main/scala-2.12/cats/derived/semiauto.scala
  core/src/main/scala-2/cats/derived/package.scala
  core/src/main/scala-2/cats/derived/show.scala
  core/src/main/scala-2/cats/derived/showPretty.scala
Labels: Design/refactoring, core

#525 Update to Shapeless 3.2.0 and remove util.Kinds
  build.sbt
  core/src/main/scala-3/cats/derived/DerivedEmpty.scala
  core/src/main/scala-3/cats/derived/DerivedEmptyK.scala
  core/src/main/scala-3/cats/derived/DerivedNonEmptyTraverse.scala
  core/src/main/scala-3/cats/derived/DerivedReducible.scala
  core/src/main/scala-3/cats/derived/util/Kinds.scala
Labels: Build, core
